body {
    background: url(../image/school-supplies-top-view-background-chalkboard-free-space_73683-2217.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
}
.sunrise {
    text-align: center;

}
.form1 {
    text-align: center;
}
.colour {
    color: aquamarine;

}
