body {
    background: url(../image/background\ pic\ 3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3000px;
    font-family: 'Roboto Slab', serif;
}
.image {
    text-align: center;
}
  
    
}